<header class="header">
  <div class="header__inner">
    <div class="header__logo">
      {{ partial "logo.html" . }}
    </div>
    <div class="site-search" role="search">
      <label class="sr-only" for="garden-search">Search the digital garden</label>
      <input
        id="garden-search"
        class="site-search__input"
        type="search"
        placeholder="Search pages..."
        autocomplete="off"
        aria-autocomplete="list"
        aria-controls="garden-search-results"
        aria-expanded="false"
      >
      <div
        id="garden-search-results"
        class="site-search__results"
        role="listbox"
        hidden
      ></div>
    </div>
    {{ if len $.Site.Menus }}
      {{ partial "mobile-menu.html" . }}
    {{ end }}
    {{ if and $.Site.Params.showLanguageSelector (len $.Site.Home.AllTranslations) }}
      {{ partial "language-menu.html" . }}
    {{ end }}
  </div>
  {{ if len $.Site.Menus }}
    {{ partial "menu.html" . }}
  {{ end }}
</header>
